<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <a class="navbar-brand brand-font" href="index.html">IBF <span style="color: white;">TRAINERS</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="index.html">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="pages/nosotros.html">Nosotros</a></li>
                <li class="nav-item"><a class="nav-link" href="pages/trainers.html">Trainers</a></li>
                <li class="nav-item"><a class="nav-link" href="pages/ubicacion.html">Ubicación</a></li>
                <li class="nav-item"><a class="nav-link" href="pages/trabajo.html">Trabaja con Nosotros</a></li>
                <li class="nav-item"><a class="nav-link" href="pages/contacto.html">Contacto</a></li>
            </ul>
        </div>
    </div>
</nav>